<div class="container mx-auto mt-2 flex flex-nowrap border-b">
    <a class="font-bold italic text-2xl font-['Jost'] ml-5" href="{{ "/" | relLangURL }}" aria-label="{{ .Site.Params.Title }}">
        {{ .Site.Title }}
    </a>

    <!-- main menu -->
    <div class="flex flex-auto"></div>

    <!-- social -->
    <ul class="flex list-none mr-5">
      {{ range .Site.Menus.social -}}
          <li class="flex items-center ml-4 hover:text-fuchsia-900">
            <a class="align-baseline" href="{{ .URL | relURL }}" target="_blank">{{ .Pre | safeHTML }}</a>
          </li>
      {{ end -}}
    </ul>
</div>